<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('app.static', filename='app/css/style.css') }}">
    <style>
        [x-cloak] { display: none !important; }
    </style>
    <script defer src="{{ url_for('app.static', filename='app/js/alpinejs@3.x.x.min.js') }}"></script>
    <title>
        {% block title %}
            ADD TITLE
        {% endblock %}
    </title>

    {% block head %}
        
    {% endblock %}
</head>
<body
    x-data="{ isHeaderBlur: false, mobileOpen: false }"
    x-init="window.addEventListener('scroll', () => { isHeaderBlur = window.scrollY > 40; })"
    class=""
    :class="{ 'overflow-hidden': mobileOpen }">
    <!-- wrapper -->
    <div class="min-h-screen bg-slate-50 dark:bg-gray-900">
        <header
            class="fixed w-full top-0 z-50 transition-all duration-300 ease-in-out px-3 select-none"
            :class="isHeaderBlur ? 'backdrop-blur bg-white bg-opacity-80 border-b' : 'bg-transparent'"
            >
            <nav class="container mx-auto">
                <div class="flex justify-between items-center">
                    <!-- Mobile hamburger menu -->
                    <div class="flex items-center py-3 md:py-0">
                        <!-- Button to open the menu -->
                        <button class="size-9 mr-3 block md:hidden" @click="mobileOpen = true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="bg-slate-200 rounded-md p-[.2rem]" viewBox="0 0 24 24">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M5 5L19 5M5 19L19 19" />
                                    <path d="M5 12H19" />
                                </g>
                            </svg>
                        </button>
                        
                        <!-- Background overlay -->
                        <div x-show="mobileOpen" x-cloak class="fixed inset-0 w-screen bg-black h-screen bg-opacity-50 z-40" x-transition.opacity @click="mobileOpen = false"></div>
                    
                        <!-- Sliding menu -->
                        <div class="fixed inset-y-0 left-0 w-[14rem] max-w-xs bg-slate-50 h-screen z-[80] transform transition-transform duration-300" x-cloak
                            :class="mobileOpen ? 'translate-x-0' : '-translate-x-full'"
                            x-transition:enter="transition transform ease-out duration-300"
                            x-transition:leave="transition transform ease-in duration-300">
                            <!-- Close Button (SVG) -->
                            <div class="px-4 flex items-center">
                                <button class="size-9 mr-3" @click="mobileOpen = false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="bg-slate-200 rounded-md p-[.2rem]" viewBox="0 0 24 24">
                                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M12 12H12" opacity="0" />
                                            <path d="M5 5L19 19M5 19L19 5" />
                                        </g>
                                    </svg>
                                </button>
                                <div class="text-2xl font-bold text-gray-800 py-4">
                                    <a href="{{ url_for('app.index') }}">Lavender</a>
                                </div>
                            </div>
                    
                            <!-- Menu Items -->
                            <nav class="mt-2">
                                <div class="space-y-4 px-4 flex flex-col">
                                    <a href="{{ url_for('app.index') }}" class="text-gray-700 font-medium text-lg">Home</a>
                                    <a href="{{ url_for('app.shop') }}" class="text-gray-700 font-medium text-lg">Shop</a>
                                    <a href="{{ url_for('app.index') }}" class="text-gray-700 font-medium text-lg">About</a>
                                    <a href="{{ url_for('app.index') }}" class="text-gray-700 font-medium text-lg">Contact</a>
                                </div>
                            </nav>
                        
                        </div>
                        <!-- Header -->
                        <div class="text-2xl font-bold text-gray-800 py-3 hidden md:block">
                            <a href="{{ url_for('app.index') }}">Lavender</a>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="flex items-center gap-4 px-6 rounded-md transition-colors ease-out duration-150" :class="isHeaderBlur ? 'bg-transparent' : 'bg-white bg-opacity-80'">
                            <a href="{{ url_for('app.shop') }}" class="font-semibold hover:text-primary text-[1.1rem] p-2">Shop</a>
                            <a href="" class="font-semibold hover:text-primary text-[1.1rem] p-2">Sale</a>
                            <a href="" class="font-semibold hover:text-primary text-[1.1rem] p-2">Contact</a>
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="relative w-full" x-data="{ dropDown : false }">
                            <div
                            class="size-9 aspect-square rounded-full overflow-hidden bg-primary text-white p-2 cursor-pointer"
                            @click=" dropDown =! dropDown "
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14" />
                                </svg>
                            </div>
                            <!-- Search dropdown -->
                            <div 
                            class="absolute overflow-hidden end-0 m-0 mt-5 z-10 md:w-52 w-48 rounded-md bg-white dark:bg-slate-900 shadow dark:shadow-gray-800"
                            x-cloak
                            x-show="dropDown"
                            @click.outside=" dropDown = false "
                            >
                                <form action="{{ url_for('app.shop') }}" class="w-full" method="GET" x-ref="headSearchForm">
                                    <div class="relative">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="absolute size-4 top-[9px] end-3 text-slate-900 dark:text-white hover:text-primary" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" @click="$refs.headSearchForm.submit()">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                        <input type="text" class="h-9 px-3 pe-10 w-full border-0 focus:ring-0 outline-none bg-white dark:bg-slate-900" name="s" id="searchItem" placeholder="Search..." @keyup.enter="$refs.headSearchForm.submit()">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Cart svg -->
                        <a href="{{ url_for('app.cart') }}">
                            <div class="size-9 aspect-square rounded-full bg-primary text-white p-2 cursor-pointer relative">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="overflow-hidden">
                                    <path fill="currentColor"
                                        d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
                                </svg>
                                <div x-text="$store.cart.itemsTotal" class="z-20 bg-red-500 absolute end-0 -bottom-0 size-4 rounded-full text-sm text-center flex items-center justify-center"></div>
                            </div>
                        </a>
                        <!-- <div class="size-9 aspect-square rounded-full overflow-hidden bg-primary text-white p-2 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3" />
                            </svg>
                        </div> -->
                        <div class="relative" x-data="{ dropDown : false }">
                            <div
                            class="size-9 aspect-square rounded-full overflow-hidden border border-primary cursor-pointer"
                            @click=" dropDown =! dropDown "
                            >
                                <img src="{{ current_user.get_profile_picture_url() }}" alt="">
                            </div>
                            <!-- Account dropdown -->
                            <div
                            class="absolute end-0 m-0 mt-5 z-0 w-48 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow dark:shadow-gray-700"
                            x-cloak
                            x-show="dropDown"
                            @click.outside=" dropDown = false "
                            >
                            {% if current_user.is_authenticated %}
                            <ul class="py-2 text-start">
                                <li class="ms-0">
                                    <p class="text-slate-400 pt-2 px-4">Hi, {{ current_user.first_name }}</p>
                                </li>
                                <li class="ms-0">
                                    <p class="flex items-center font-medium py-2 px-4">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 me-2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <line x1="12" y1="1" x2="12" y2="23"></line>
                                            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>Balance: <span class="text-primary ms-2">$0</span>
                                    </p>
                                </li>
                                <li class="ms-0">
                                    <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-primary dark:hover:text-white" href="{{ url_for('app.account') }}">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 me-2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>Account
                                    </a>
                                </li>
                                <li class="ms-0">
                                    <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-primary dark:hover:text-white" href="">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 me-2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                        </svg>Helpcenter
                                    </a>
                                </li>
                                <li class="ms-0">
                                    <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-primary dark:hover:text-white" href="{{ url_for('app.settings') }}">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                            stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 me-2" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="3"></circle>
                                            <path
                                                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                            </path>
                                        </svg>Settings
                                    </a>
                                </li>
                                <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                                <li class="ms-0">
                                    <a class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-primary dark:hover:text-white" href="{{ url_for('app.signout') }}">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                            stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 me-2" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg>Logout
                                    </a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="py-2 text-start">
                                <li class="ms-0">
                                    <p class="text-slate-400 pt-2 px-4">You're not signed in</p>
                                </li>
                                <li class="ms-0">
                                    <a class="flex items-center font-medium py-2 px-4 mt-2 mx-2 bg-primary hover:bg-primary/90 rounded-md dark:text-white/70 hover:text-white dark:hover:text-white" href="{{ url_for('app.signin') }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="size-5 me-2" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M10.3 7.7a.984.984 0 0 0 0 1.4l1.9 1.9H3c-.55 0-1 .45-1 1s.45 1 1 1h9.2l-1.9 1.9a.984.984 0 0 0 0 1.4c.39.39 1.01.39 1.4 0l3.59-3.59a.996.996 0 0 0 0-1.41L11.7 7.7a.984.984 0 0 0-1.4 0M20 19h-7c-.55 0-1 .45-1 1s.45 1 1 1h7c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-7c-.55 0-1 .45-1 1s.45 1 1 1h7z" />
                                        </svg>Sign in
                                    </a>
                                </li>
                                <li class="ms-0">
                                    <a class="flex items-center font-medium py-2 px-4 mt-2 mx-2 bg-primary hover:bg-primary/90 rounded-md dark:text-white/70 hover:text-white dark:hover:text-white" href="{{ url_for('app.signup') }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="size-5 me-2" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M15 4a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4m0 1.9a2.1 2.1 0 1 1 0 4.2A2.1 2.1 0 0 1 12.9 8A2.1 2.1 0 0 1 15 5.9M4 7v3H1v2h3v3h2v-3h3v-2H6V7zm11 6c-2.67 0-8 1.33-8 4v3h16v-3c0-2.67-5.33-4-8-4m0 1.9c2.97 0 6.1 1.46 6.1 2.1v1.1H8.9V17c0-.64 3.1-2.1 6.1-2.1" />
                                        </svg>Sign up
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </header>
        <!-- main content -->
        {% block content %}
        <main class="pt-24 w-full h-full">
            <div class="container mx-auto">
                <div class="h-full">
                    <h1 class="text-4xl font-bold text-gray-700">Scroll down to see the effect!</h1>
                    <p class="mt-4 text-lg text-gray-500">
                        This is a demonstration of a navigation bar that remains visible at the top, and applies a blur
                        effect when you scroll down.
                    </p>
                </div>
            </div>
        </main>
        {% endblock %}
    </div>

    {% if init_cart %}
    <script>
       localStorage.setItem('cart_items', JSON.stringify(JSON.parse('{{ init_cart | tojson | safe }}')))
    </script>
    {% endif %}


<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('cart', {
            isOpen: false,
            cart_items: JSON.parse(localStorage.getItem('cart_items')),
            total: 0,
            itemsTotal: 0,

            async init() {
                this.total = this.cart_items.reduce((sum, item) => sum + (item.price * item.quantity), 0).toFixed(2);
                this.itemsTotal = this.cart_items.reduce((sum, item) => sum + item.quantity, 0).toFixed(0);
            },

            toggle() {
                this.isOpen = !this.isOpen
            },

            async syncCart(cart) {
                localStorage.setItem('cart_items', JSON.stringify(cart));
            },

            async updateQuantity(itemId, newQuantity) {
                item = this.cart_items.find(i => i.id === itemId);
                if (item) {
                    item.quantity = newQuantity;

                    if (item.quantity <= 0) {
                        this.cart_items = this.cart_items.filter(i => i.id !== itemId);
                    }

                    const formData = new FormData();
                    formData.append('product_id', item.product_id);
                    formData.append('variation_id', item.variation_id);
                    formData.append('quantity', newQuantity);
                    formData.append('csrf_token', '{{ csrf_token() }}');

                    try {
                        await fetch('/update_cart', {
                            method: 'PUT',
                            body: formData
                        })
                        .then(response => response.json())
                        .then(data => {
                            localStorage.setItem('cart_items', JSON.stringify(data.cart));
                            this.total = this.cart_items.reduce((sum, item) => sum + (item.price * item.quantity), 0).toFixed(2);
                            this.itemsTotal = this.cart_items.reduce((sum, item) => sum + item.quantity, 0).toFixed(0);
                        })
                    } catch (error) {
                        console.error('Error adding to cart:', error);
                    }

                }
            },

            async addToCart(product_id, variation_id, quantity) {
                if (!quantity) {
                    quantity = 1
                }
                const formData = new FormData();
                formData.append('product_id', product_id);
                formData.append('variation_id', variation_id);
                formData.append('quantity', quantity);
                formData.append('csrf_token', '{{ csrf_token() }}');
                try {
                    await fetch('/add_to_cart', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            localStorage.setItem('cart_items', JSON.stringify(data.cart));
                            this.total = this.cart_items.reduce((sum, item) => sum + (item.price * item.quantity), 0).toFixed(2);
                            this.itemsTotal = this.cart_items.reduce((sum, item) => sum + item.quantity, 0).toFixed(0);
                        })
                } catch (error) {
                    console.error('Error adding to cart:', error);
                }
            }

        })
    })
</script>

</body>
</html>