<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('app.static', filename='app/css/style.css') }}">
    <style>
        [x-cloak] { display: none !important; }
    </style>
    <script defer src="{{ url_for('core.static', filename='/core/js/alpinejs@3.x.x.min.js') }}"></script>
    <title>
        {% block title %}
            ADD TITLE
        {% endblock %}
    </title>

    {% block head %}
        
    {% endblock %}
</head>
<body
    x-data="{ isHeaderBlur: false }"
    x-init="window.addEventListener('scroll', () => { isHeaderBlur = window.scrollY > 40; })"
    class="">
    <!-- wrapper -->
    <div class="min-h-screen bg-slate-50 dark:bg-gray-900">
        <header
            class="fixed w-full top-0 z-50 transition-all duration-300 ease-in-out px-3"
            :class="isHeaderBlur ? 'backdrop-blur bg-white bg-opacity-80 border-b' : 'bg-transparent'"
            >
            <nav class="container mx-auto">
                <div class="flex justify-between items-center">
                    <div class="text-2xl font-bold text-gray-800 py-4">Lavender</div>
                    <div class="flex items-center gap-4">
                        <a href="" class="font-semibold hover:text-primary text-[1.1rem] p-2">Shop</a>
                        <a href="" class="font-semibold hover:text-primary text-[1.1rem] p-2">Sale</a>
                        <a href="" class="font-semibold hover:text-primary text-[1.1rem] p-2">Contact</a>
                    </div>
                    <div class="flex items-center gap-4">
                        <div class="size-9 aspect-square rounded-full overflow-hidden bg-primary text-white p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14" />
                            </svg>
                        </div>
                        <div class="size-9 aspect-square rounded-full overflow-hidden bg-primary text-white p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
                            </svg>
                        </div>
                        <div class="size-9 aspect-square rounded-full overflow-hidden bg-primary text-white p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3" />
                            </svg>
                        </div>
                        <div class="size-9 aspect-square rounded-full overflow-hidden">
                            <img src="{{ url_for('app.static', filename='app/img/login.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- main content -->
        <main class="pt-24 w-full h-full">
            <div class="container mx-auto">
                {% block content %}
                    <div class="h-full">
                        <h1 class="text-4xl font-bold text-gray-700">Scroll down to see the effect!</h1>
                        <p class="mt-4 text-lg text-gray-500">
                            This is a demonstration of a navigation bar that remains visible at the top, and applies a blur
                            effect when you scroll down.
                        </p>
                    </div>
                {% endblock %}
            </div>
        </main>
    </div>
</body>
</html>