{% extends 'app/account.html' %}
{% block content2 %}
<div class="w-full md:px-3 mt-6 md:mt-0">
    <h5 class="text-lg font-semibold mb-6">My Payments</h5>
    <div class="relative overflow-x-auto shadow dark:shadow-gray-800 rounded-md">
        <table class="w-full text-start text-slate-500 dark:text-slate-400">
            <thead class="text-sm uppercase bg-slate-50 dark:bg-slate-800">
                <tr class="text-start">
                    <th scope="col" class="px-2 py-3 text-start">Order no.</th>
                    <th scope="col" class="px-2 py-3 text-start">Date</th>
                    <th scope="col" class="px-2 py-3 text-start">Status</th>
                    <th scope="col" class="px-2 py-3 text-start">Total</th>
                    <th scope="col" class="px-2 py-3 text-start">Transaction ID</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr class="bg-white dark:bg-slate-900 text-start">
                    <th class="px-2 py-3 text-start" scope="row">{{ payment.order_id }}</th>
                    <td class="px-2 py-3 text-start">{{ payment.date }}</td>
                    <td class="px-2 py-3 text-start text-slate-400">{{ payment.payment_status }}</td>
                    <td class="px-2 py-3 text-start">$ {{ payment.amount_paid }}</td>
                    <td class="px-2 py-3 text-start">{{ payment.transaction_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}