{% extends 'app/base.html' %}
{% block content %}
<section class="pt-24 w-full h-full">
    <section class="relative table w-full py-20 lg:py-24 md:pt-28 bg-gray-200 dark:bg-slate-800">
        <div class="container mx-auto relative">
            <div class="grid grid-cols-1 mt-14">
                <h3 class="text-3xl leading-normal font-semibold">Fashion</h3>
            </div><!--end grid-->

            <div class="relative mt-3">
                <div class="tracking-[0.5px] mb-0 inline-block">
                    <div class="inline-block uppercase text-[13px] font-bold duration-300 ease-in-out hover:text-orange-500"><a href="">Lavender</a></div>
                    <div class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180">&rarr;</div>
                    <div class="inline-block uppercase text-[13px] font-bold text-orange-500" aria-current="page">Shop</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Shop -->
    <div class="container mx-auto">
        <section class="relative md:py-24 py-16">
            <div class="container relative" x-data="filterComponent">
                <form method="GET" action="{{ url_for('app.shop') }}" x-ref="filterForm">
                    <div class="grid md:grid-cols-12 sm:grid-cols-2 grid-cols-1 gap-6">
                        <!-- Filters -->
                        <div class="lg:col-span-3 md:col-span-4">
                            <div class="rounded shadow dark:shadow-gray-800 p-4 sticky top-20 bg-white">
                                <h5 class="text-xl font-medium">Filter</h5>
    
                                <div class="mt-4">
                                    <div>
                                        <label for="searchname" class="font-medium">Search:</label>
                                        <div class="relative mt-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute size-4 top-[9px] end-4 hover:text-primary hover:cursor-pointer" @click="handleSubmit()" @keyup.enter="handleSubmit()">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                            <input type="text" class="h-9 pe-10 rounded px-3 bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 focus:ring-0 outline-none w-full" :value="selectedSearch" name="s" placeholder="Search...">
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Colors -->
                                <div class="mt-4">
                                    <h5 class="font-medium">Colors:</h5>
                                    <div class="mt-2">
                                        <template x-for="color in uniqueColors" :key="color">
                                            <label class="inline">
                                                <input type="radio" x-ref="color" name="color" :value="color" @change="handleSubmit()" :checked="color === selectedColor" class="hidden peer">
                                                <div class="size-6 rounded-full ring-2 ring-gray-200 dark:ring-slate-800 bg-indigo-600 inline-flex align-middle peer-checked:bg-green-500" x-text="color"></div>
                                            </label>
                                        </template>
                                    </div>
                                </div>
                                
                                <!-- Brands -->
                                <div class="mt-4">
                                    <h5 class="font-medium">Brands:</h5>
                                    <ul class="list-none mt-2">
                                        <li><a href="" class="text-slate-400 dark:text-gray-100"><i class="mdi mdi-shopping-outline text-orange-500 me-2"></i>Alexander McQueen</a></li>
                                        <li><a href="" class="text-slate-400 dark:text-gray-100"><i class="mdi mdi-shopping-outline text-orange-500 me-2"></i>Alexander Wang</a></li>
                                        <li><a href="" class="text-slate-400 dark:text-gray-100"><i class="mdi mdi-shopping-outline text-orange-500 me-2"></i>Allegra K</a></li>
                                        <li><a href="" class="text-slate-400 dark:text-gray-100"><i class="mdi mdi-shopping-outline text-orange-500 me-2"></i>AllSaints</a></li>
                                        <li><a href="" class="text-slate-400 dark:text-gray-100"><i class="mdi mdi-shopping-outline text-orange-500 me-2"></i>Badgley Mischka</a></li>
                                        <li><a href="" class="text-slate-400 dark:text-gray-100"><i class="mdi mdi-shopping-outline text-orange-500 me-2"></i>Baldinini</a></li>
                                    </ul>
                                </div>
                                
                                <!-- Sizes -->
                                <div class="mt-4">
                                    <h5 class="font-medium">Sizes:</h5>
                                    <div class="mt-2">
                                        <template x-for="size in uniqueSizes" :key="size">
                                            <label class="inline">
                                                <input type="radio" name="size" :value="size" @change="handleSubmit()" :checked="size === selectedSize" class="hidden peer">
                                                <div
                                                    class="size-7 inline-flex items-center justify-center tracking-wide align-middle text-base text-center rounded-md border border-gray-100 dark:border-gray-800 text-slate-900 dark:text-gray-50 hover:border-slate-900 dark:hover:border-gray-100 hover:text-white dark:hover:text-slate-900 hover:bg-slate-900 dark:hover:bg-slate-100 peer-checked:bg-slate-900 peer-checked:text-white" x-text="size">
                                                </div>
                                            </label>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- More filters -->
                        <div class="lg:col-span-9 md:col-span-8 ">
                            <div class="md:flex justify-between items-center mb-6">
                                <span class="font-semibold">Showing 1-16 of 40 items</span>
            
                                <div class="md:flex items-center">
                                    <label class="font-semibold md:me-2">Sort by:</label>
                                    <select class="md:w-36 w-full md:mt-0 mt-1 py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0">
                                        <option value="">Featured</option>
                                        <option value="">Sale</option>
                                        <option value="">Alfa A-Z</option>
                                        <option value="">Alfa Z-A</option>
                                        <option value="">Price Low-High</option>
                                        <option value="">Price High-Low</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Products -->
                            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
                                {% if products %}
                                {% for product in products %}  
                                <div class="group">
                                    <a href="{{ url_for('app.product_details', product_id=product['id']) }}">
                                        <div class="relative overflow-hidden shadow dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                                            <img src="{{ product['image_url'] }}" class="group-hover:scale-110 duration-500" alt="{{ product['name'] }}">
        
                                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                                <div class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-slate-900 text-white w-full rounded-md" @click="(e) => { e.preventDefault(); $store.cart.addToCart(product_id={{ product['id'] }}, variation_id={{ product['variation_id'] }}, quantity=1)} ">Add to Cart</div>
                                            </div>
        
                                            <div class="absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500 space-y-1">
                                                <div>
                                                    <a href="javascript:void(0)" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart size-4"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="mt-1">
                                                    <a href="https://shreethemes.in/cartzio/layouts/shop-item-detail.html" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye size-4">
                                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="mt-1">
                                                    <a href="javascript:void(0)" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark size-4">
                                                            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Info -->
                                        <div class="mt-4">
                                            <a href="{{ url_for('app.product_details', product_id=product['id']) }}" class="hover:text-orange-500 text-lg font-medium">{{ product['name'] }}</a>
                                            <div class="flex justify-between items-center mt-1">
                                                <p>${{ product['price'] }}
                                                    <!-- <del class="text-slate-400">$21.00</del> -->
                                                </p>
                                                <ul class="font-medium text-amber-400 list-none">
                                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div>
                                    <h3>No products found</h3>
                                </div>
                                {% endif %}
                                
                            </div><!--end grid-->
                            
                            <!-- Navigation -->
                            <div class="grid md:grid-cols-12 grid-cols-1 mt-6">
                                <div class="md:col-span-12 text-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="inline-flex items-center -space-x-px">
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left size-5 rtl:rotate-180 rtl:-mt-1"><polyline points="15 18 9 12 15 6"></polyline></svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">1</a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">2</a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-orange-500 border border-orange-500">3</a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">4</a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">5</a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-left-sidebar.html#" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-orange-500 dark:hover:border-orange-500 hover:bg-orange-500 dark:hover:bg-orange-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right size-5 rtl:rotate-180 rtl:-mt-1"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

<script>
    document.addEventListener('alpine:init', function() {
        Alpine.data('filterComponent', () => ({
            uniqueColors: JSON.parse('{{ colors | tojson | safe }}'),
            uniqueSizes: JSON.parse('{{ sizes | tojson | safe }}'),
            selectedColor: "{{ request.args.get('color', '') }}",
            selectedSize: "{{ request.args.get('size', '') }}",
            selectedSearch: "{{ request.args.get('s', '') }}",

            init() {
                
            },

            handleSubmit() {
                this.$refs.filterForm.submit()
            }

        }))
    })
</script>
</section>
{% endblock %}