<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('core.static', filename='core/css/style.css') }}">
    <style>
        [x-cloak] { display: none !important; }
    </style>
    <script defer src="{{ url_for('core.static', filename='/core/js/alpinejs@3.x.x.min.js') }}"></script>
    <title>
        {% block title %}
            ADD TITLE
        {% endblock %}
    </title>
    {% block head %}
        
    {% endblock %}
</head>
<body>
    {% block content %}
        ADD CONTENTS
    {% endblock %}
</body>
</html>